@charset "utf-8";

/*-----------Basic Reset---------------*/

* {
    margin: 0; 
    padding: 0;
    outline: 0;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
    font: inherit;   
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", "Open Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    background: linear-gradient(#276482, #3991bd);
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

/*----------------Main CSS----------------*/
main {
    height: 100%;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100%;
}

.bmi-calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    align-items: center;
}

h1 {
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.heading p {
    padding-bottom: 30px;
    font-size: 18px;
}

h1, h2, p, label {
    color: #f6f6ff;
}

form :nth-child(2) {
    text-align: center;
    padding-bottom: 10px;
}

input {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.height-container {
    display: flex;
    gap: 10px;
}

.height-feet {
    margin-right: 20px;
}

.height-container {
    padding-bottom: 20px;
}

.result {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    padding: 20px 20px;
    font-size: 18px;
}

.result span {
    height: 50px;
}

.calculate {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.info {
    padding-top: 20px;
}

.info p {
    font-size: 18px;
}

.info h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 664px) {
    .flex {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    h1 {
        padding-bottom: 20px;
        font-size: 30px;
    }

    .heading p {
        padding-bottom: 30px;
        /* text-align: center; */
    }
}